body{
    background-color: #ecf0f3;
}
.cont{
    margin: 0 auto;
    width: 50%;
    box-sizing: border-box;
    background: #ecf0f3;
    border-radius: 20px;
    box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
}
h1{
	
    text-transform: uppercase;
}
.firstDiv{
    text-align: center;
}
.left{
    text-align: left;
}
p{
    text-align: center;
}
span{
    font-weight: bold;
}
.font{
    font-size: 20px;
}
.font1{
    font-size: 30px;
}
input[type=number]{
  background: #ecf0f3;
  padding: 20px;
  padding-left: 10px;
  height: 20px;
  font-size: 14px;
  border-radius: 50px;
  border: none;
  box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}
input[type=text]{
    border: none;
  background: #ecf0f3;
  padding: 8px;
  padding-left: 10px;
  font-size: 14px;
  border-radius: 50px;
  box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}
input[type=submit]{
     color: white;
     border: none;
  margin-bottom: 20px;
  background: #1DA1F2;
  height: 40px;
  width: 100px;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
  transition: 0.5s;
}
input[type=submit]:hover{
    font-weight: bold;
    color: red;
    background: white;
}